apart.conf
skelcl.conf
project/project/
project/target/
target/
scripts/compiled_scripts/
lib/Executor/build
src/main/resources/lib/libexecutor-jni.*
.idea/
.tags
.kernels
*.out
*.log
*.iml
*.html
*.pyc
*.swp
