.idea
apart.conf
skelcl.conf
project/project/
project/target/
target/
scripts/compiled_scripts/
lib/Executor/build
src/main/resources/lib/libexecutor-jni.*
.tags
.kernels
*.out
*.log
*.html
*.pyc
*.swp
*.DS_Store
*.iml
